# Metadata
{{head}}

# Formating
toc: true
lang: {{lang}}
colorlinks: true
papersize: a4
numbersections: true

#Panflute options
panflute-filters: [multifilter]
panflute-path: 'filters'

#Template options
titlepage: true
toc-own-page: false
