# Metadata
{{head}}

# Formating
lang: {{lang}}
colorlinks: false
toc: false

#Panflute options
panflute-filters: [multifilter]
panflute-path: 'filters'

#Template options
theme: metropolis
themeoptions:
  - progressbar=frametitle
  - numbering=fraction
  - background=dark
  - block=transparent